<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>SUFeedURL</key>
	<string>https://bengerthelorf.github.io/macIconChanger/IconChanger/sparkle.xml</string>
	<key>SUPublicEDKey</key>
	<string>sjzCQ7Dj1I2QTQS2FvNNbL9SbwsO8BDtji0Y1umj6pE</string>
</dict>
</plist>
